alias ls='ls --color'
alias ll='ls -alF'
alias grep='grep --color=auto'
alias c='xclip -selection clipboard'

# OpenHue
alias h='openhue set room Chambre -b'

# Kitty
alias sshk='kitten ssh'

# Neovim
alias vim='nvim'
alias vi='nvim'
alias nv='nvim'

# Libreoffice
alias lc='libreoffice --calc'

# Swappy
alias sw='grim -g "$(slurp)" - | swappy -f -'
